---
http_interactions:
- request:
    method: get
    uri: https://urlscan.io/api/v1/search/?q=domain:urlscan.io&size=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1707b-WdX7MkZLc38FHRabzUQc1E9/PXA"
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "task": {
                "visibility": "public",
                "method": "manual",
                "time": "2019-03-15T09:06:37.782Z",
                "source": "web",
                "url": "https://urlscan.io/result/245c9798-d769-4132-a216-587103054462"
              },
              "stats": {
                "uniqIPs": 4,
                "consoleMsgs": 0,
                "dataLength": 971678,
                "encodedDataLength": 373708,
                "requests": 24
              },
              "page": {
                "country": "DE",
                "server": "nginx",
                "city": "",
                "domain": "urlscan.io",
                "ip": "148.251.45.170",
                "asnname": "HETZNER-AS, DE",
                "asn": "AS24940",
                "url": "https://urlscan.io/result/245c9798-d769-4132-a216-587103054462",
                "ptr": "urlscan.io"
              },
              "uniq_countries": 2,
              "_id": "cc9851be-9313-4444-b84a-cc16e6ed7bb9",
              "result": "https://urlscan.io/api/v1/result/cc9851be-9313-4444-b84a-cc16e6ed7bb9"
            },
            {
              "task": {
                "visibility": "public",
                "method": "manual",
                "time": "2019-03-15T07:53:55.186Z",
                "source": "web",
                "url": "https://urlscan.io/"
              },
              "stats": {
                "uniqIPs": 6,
                "consoleMsgs": 0,
                "dataLength": 837679,
                "encoded[...]
