---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"sagawa.apk"}'
    headers:
      Authorization:
      - "<CENSORED/>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - e19237619617a39e1b97a68d8fd091f6
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [], "metadata": {"count": 0, "query": "sagawa.apk",
        "backend_time": 25, "page": 1, "pages": 0}}'
  recorded_at: Fri, 15 Mar 2019 22:30:25 GMT
recorded_with: VCR 4.0.0
