---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"sagawa.apk"}'
    headers:
      Authorization:
      - "<CENSORED/>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 6d1039bbbd31474a1b164199b559e1da
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [], "metadata": {"count": 0, "query": "sagawa.apk",
        "backend_time": 29, "page": 1, "pages": 0}}'
  recorded_at: Mon, 18 Mar 2019 20:26:09 GMT
recorded_with: VCR 4.0.0
