---
http_interactions:
- request:
    method: post
    uri: https://api.securitytrails.com/v1/domains/list
    body:
      encoding: UTF-8
      string: '{"filter":{"ipv4":"67.229.196.131"}}'
    headers:
      Apikey:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "records": [],
          "record_count": 0,
          "meta": {
            "total_pages": 0,
            "query": "ipv4 = '67.229.196.131'",
            "page": 1,
            "max_page": 0
          },
          "endpoint": "/v1/domains/list"
        }
  recorded_at: Mon, 18 Mar 2019 20:26:38 GMT
recorded_with: VCR 4.0.0
