---
http_interactions:
- request:
    method: post
    uri: https://www.censys.io/api/v1/search/ipv4
    body:
      encoding: UTF-8
      string: '{"query":"sagawa.apk"}'
    headers:
      Authorization:
      - "<CENSORED/>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - e823ae4761859cf7d85f1f21d5ff5169
    body:
      encoding: UTF-8
      string: '{"status": "ok", "results": [{"location.country": "Taiwan", "location.registered_country":
        "Taiwan", "location.longitude": 121.5318, "location.city": "Taipei", "ip":
        "111.240.227.179", "location.registered_country_code": "TW", "location.country_code":
        "TW", "location.province": "Taipei City", "location.continent": "Asia", "location.latitude":
        25.0478, "protocols": ["80/http"], "location.timezone": "Asia/Taipei"}, {"location.country":
        "Taiwan", "location.registered_country": "Taiwan", "location.longitude": 121.5318,
        "location.city": "Taipei", "ip": "36.230.207.172", "location.registered_country_code":
        "TW", "location.country_code": "TW", "location.province": "Taipei City", "location.continent":
        "Asia", "location.latitude": 25.0478, "protocols": ["80/http", "3306/mysql"],
        "location.timezone": "Asia/Taipei"}, {"location.country": "Taiwan", "location.r[...]
- request:
    method: get
    uri: https://www.censys.io/api/v1/view/ipv4/111.240.227.179
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - f24b3f55807b525062e2a4edf0f26ea2
    body:
      encoding: UTF-8
      string: '{"tags": ["http"], "ip": "111.240.227.179", "updated_at": "2019-01-22T10:46:26+00:00",
        "ports": [80], "location": {"province": "Taipei City", "city": "Taipei", "country":
        "Taiwan", "longitude": 121.5318, "registered_country": "Taiwan", "registered_country_code":
        "TW", "country_code": "TW", "latitude": 25.0478, "timezone": "Asia/Taipei",
        "continent": "Asia"}, "80": {"http": {"get": {"body": "<!DOCTYPE html>\n<!--
        saved from url=(0028)http://www.sagawa-exp.co.jp/ -->\n<html lang=\"ja\"><head><meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<title>\u4f50\u5ddd\u6025\u4fbf\u682a\u5f0f\u4f1a\u793e\uff1c\uff33\uff27\u30db\u30fc\u30eb\u30c7\u30a3\u30f3\u30b0\u30b9\u30b0\u30eb\u30fc\u30d7\uff1e</title>\n<meta
        name=\"viewport\" content=\"width=1024, user-scalable=yes\">\n<meta name=\"format-detection\"
        content=\"telephone=no\">\n<meta name=\"description\" content=\"\u4f50\u5ddd\u6025\u4fbf\u306f\u3001\u5b85\u914d\u4fbf\u4e8b\u696d\u3092\u4e2d\u5fc3\u306b\u3001\u500b\u4eba\u306e\u304a\u5ba2\u3055\u307e\u304b\u3089\u6cd5\u4eba\u306e\u304a\u5ba2\u3055\u307e\u307e\u3067\u3001\u7269\u6d41\u3068\u305d\u306e\u5468\u8fba\u306e\u69d8\u3005\u306a\u4e8b\u696d\u3092\u5c55\u958b\u3057\u3066\u3044\u307e\u3059\u3002\u304a\u8377\u7269\u30fb\u5b85\u914d\u4fbf\u3092\u9001\u308b\u3053\u3068\u304b\u3089\u539f\u6599\u3084\u7d20\u6750\u306e\u8abf\u9054\u30fb\u96c6\u8377\u30fb\u7d0d\u54c1\u306a\u3069\u7269\u6d41\u306b\u95a2\u3059\u308b\u304a\u60a9\u307f\u306f\u4f50\u5ddd\u6025\u4fbf\u306b\u304a\u4efb\u305b\u304f\u3060\u3055\u3044\u3002\">\n<meta
        name=\"google-site-verification\" content=\"Xe8kPMWghKwmi7556SgRzonflAKIEdc9dVTVQF4TICk\">\n<!--
        style -->\n<link rel=\"stylesheet\" href=\"./index_files/cmn_layout.css\">\n<link
        rel=\"stylesheet\" href=\"./index_files/cmn_module.css\">\n<link rel=\"stylesheet\"
        href=\"./index_files/cmn_style.css\">\n<link rel=\"stylesheet\" href=\"./index_files/jquery.bxslider.css\">\n<link
        rel=\"stylesheet\" href=\"./index_files/style.css\">\n<link rel=\"stylesheet\"
        href=\"./index_files/topVisual.css\">\n<!-- script -->\n<script async=\"\"
        src=\"./index_files/analytics.js\"></script><script src=\"./index_files/jquery.js\"></script>\n<script
        src=\"./index_files/plugins.js\"></script>\n<script src=\"./index_files/jquery.ah-placeholder.js\"></script>\n<script
        src=\"./index_files/common.js\"></script>\n\n<!--[if lt IE 9]><script src=\"/common/js/lib/html5shiv.js\"></script><![endif]-->\n<!--
        code -->\n<script src=\"./index_files/jquery.imagesloaded.js\"></script>\n<script
        src=\"./inde[...]
- request:
    method: get
    uri: https://www.censys.io/api/v1/view/ipv4/36.230.207.172
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 63ca5ac23d00d70d60a6d114536b2a76
    body:
      encoding: UTF-8
      string: '{"tags": ["database", "http", "mysql"], "ip": "36.230.207.172", "updated_at":
        "2019-01-22T19:50:19+00:00", "autonomous_system": {"description": "HINET Data
        Communication Business Group", "rir": "unknown", "routed_prefix": "36.230.0.0/16",
        "country_code": "TW", "path": [11164, 9680, 3462], "asn": 3462, "name": "HINET
        Data Communication Business Group"}, "location": {"province": "Taipei City",
        "city": "Taipei", "country": "Taiwan", "longitude": 121.5318, "registered_country":
        "Taiwan", "registered_country_code": "TW", "country_code": "TW", "latitude":
        25.0478, "timezone": "Asia/Taipei", "continent": "Asia"}, "3306": {"mysql":
        {"banner": {"error_message": "Host ''CLIENT_HOSTNAME'' is not allowed to connect
        to this MySQL server", "supported": true, "protocol_version": 0, "error_id":
        "ER_HOST_NOT_PRIVILEGED", "error_code": 1130, "metadata": {}}}}, "80": {"http":
        {"get": {"body": "<!DOCTYPE html>\n<!-- saved from url=(0028)http://www.sagawa-exp.co.jp/
        -->\n<html lang=\"ja\"><head><meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\">\n\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<title>\u4f50\u5ddd\u6025\u4fbf\u682a\u5f0f\u4f1a\u793e\uff1c\uff33\uff27\u30db\u30fc\u30eb\u30c7\u30a3\u30f3\u30b0\u30b9\u30b0\u30eb\u30fc\u30d7\uff1e</title>\n<meta
        name=\"viewport\" content[...]
- request:
    method: get
    uri: https://www.censys.io/api/v1/view/ipv4/211.23.149.152
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - c1df8f8d49b89671be36221ab5774319
    body:
      encoding: UTF-8
      string: '{"tags": ["remote_display", "database", "http", "rdp", "mysql"], "ip":
        "211.23.149.152", "updated_at": "2019-01-22T09:32:18+00:00", "3389": {"rdp":
        {"banner": {"tls": {"server_key_exchange": {"ecdh_params": {"curve_id": {"id":
        23, "name": "secp256r1"}}}, "certificate": {"parsed": {"fingerprint_sha1":
        "44d10d339b34647e2f96773bce4ee2361628f235", "tbs_noct_fingerprint": "cf48857808ceb9d0466e87082a8d0803bb5fdec5fcc6e80c509bcfafc61366e7",
        "subject_dn": "CN=WIN-J98AO0I39BR", "issuer": {"common_name": ["WIN-J98AO0I39BR"]},
        "tbs_fingerprint": "cf48857808ceb9d0466e87082a8d0803bb5fdec5fcc6e80c509bcfafc61366e7",
        "redacted": false, "validation_level": "unknown", "issuer_dn": "CN=WIN-J98AO0I39BR",
        "fingerprint_sha256": "7e3f4f5ae594465a05325c11c0932e8e9a51d44863e6584678866b1c5a39498a",
        "version": 3, "extensions": {"key_usage": {"data_encipherment": true, "key_encipherment":
        true, "value": 12}, "extended_key_usage": {"server_auth": true}}, "validity":
        {"start": "2019-01-16T08:17:09Z", "length": 15811200, "end": "2019-07-18T08:17:09Z"},
        "signature_algorithm": {"oid": "1.2.840.113549.1.1.5", "name": "SHA1-RSA"},
        "serial_number": "161580192812587626920031542926421388379", "fingerprint_md5":
        "ba15df4bb2886806d0c5aea627cdaf4c", "subject_key_info": {"fingerprint_sha256":
        "516ffa54c9270894b11f91f8bc5c24e054754878cf93a45c2ab4eaf68a33dd2b", "key_algorithm":
        {"name": "RSA"}, "rsa_public_key": {"length": 2048, "modulus": "3n7nUp8MWe9YZEUdviJeoQHaKBEyiu2XYk/EUNQiTYqMss59SH86a5SKBeHxICtjRbYZ10AiN/kV46AK6cGc9SXv/i/qjjb/807NHWwj5krMKda1QqNAoE6x56ATzxT+fmAyUcvgsQf+f+yDzpF0ctxPga2mLJlQRvm36GPHtRDFFywfPdGB5sVW26M6zvvrFp4ychtbLlpikL9zh5T8ZSwp3L5iCxEb4GwMRjqjb0VLICmobRXM46uQb+MKXpicru5MRwFliS7G2JtVjzpPZzz8AQ0O7nLbGPRRjEI3pjzi3RXY5WPqQ9tEvWYRdMIhQNeHelZvY4/gnkQumzoU8Q==",
        "exponent": 65537}}, "signature": {"self_signed": true, "valid": true, "value":
        "ESQ+9IxaPkVmQ8EHpoCUfJ8kZ75SCMyUBI9xZq9P6o6kU6uW3NHI6okVqjo9cVoWWAgoJT2q1jQDiLgIBD3Qi38BvWCfm0W7PDbrPRE1GkN/eJxuqid4ZY4HzP0IyINOqLllTrB4eIAPnKo3z4xAmbb0eaeTbVH72LviZJfnpaIqwCrLjczikwT+iKkORWbv5MWMRxrv1pg0qCGE/fBQ+CpROYiiPEyDD1euuwN03N5II1VQw4M/y4qfqS7Nz0PDLe3710x3k7jpox5sK1/Hsq3oeVOq5xDuNEjieog5kpIdOrkHg94FMQjP9uSSVix07zn+cpYOWBM4MEI+t3sG2w==",
        "signature_algorithm": {"oid": "1.2.840.113549.1.1.5", "name": "SHA1-RSA"}},
        "spki_subject_fingerprint": "b47b01ee1cd6cd809bb1de441398ceb5b3cd9a7842168e642db7429ce56225de",
        "subject": {"common_name": ["WIN-J98AO0I39BR"]}}}, "cipher_suite": {"id":
        "0xC014", "name": "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA"}, "version": "TLSv1.2",
        "ocsp_stapling": false, "signature": {"hash_algorithm": "sha1", "valid": true,
        "signature_algorithm": "rsa"}, "validation": {"browser_trusted": false, "browser_error":
        "x509: failed to load system roots and no roots provided"}}, "selected_security_protocol":
        {"tls": true, "raw_value": 1}, "connect_response": {"connect_id": 0, "domain_parameters":
        {"max_mcspdu_size": 65528, "max_user_id_channels": 3, "min_octets_per_second":
        0, "domain_protocol_ver": 2, "tcs_per_mcs": 1, "max_token_ids": 0, "max_provider_height":
        1, "max_channel_ids": 34}}, "supported": true, "version": {"raw_value": 524292,
        "major": 5, "minor": 0}, "protocol_supported_flags": {"dynvc_graphics_pipeline":
        true, "neg_resp_reserved": true, "restricted_admin_mode": true, "extended_client_data_supported":
        true}, "metadata": {"product": "Remote Desktop", "version": "5.0", "description":
        "Remote Desktop 5.0"}}}}, "location": {"province": "Taoyuan", "city": "Taoyuan
        District", "country": "Taiwan", "longitude": 121.3187, "registered_country":
        "Taiwan", "registered_country_code": "TW", "country_code": "TW", "latitude":
        24.9896, "timezone": "Asia/Taipei", "continent": "Asia"}, "3306": {"mysql":
        {"banner": {"error_message": "Host ''CLIENT_HOSTNAME'' is not allowed to connect
        to this My[...]
[...]
