---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/github.com/dns/a?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "a/ipv4",
          "records": [
            {
              "values": [
                {
                  "ip_count": 118,
                  "ip": "192.30.253.113"
                },
                {
                  "ip_count": 113,
                  "ip": "192.30.253.112"
                }
              ],
              "type": "a",
              "organizations": [
                "GitHub, Inc."
              ],
              "last_seen": "2019-03-18",
              "first_seen": "2018-09-11"
            },
            {
              "values": [
                {
                  "ip_count": 10,
                  "ip": "192.30.255.113"
                },
                {
                  "ip_count": 23,
                  "ip": "192.30.255.112"
                }
              ],
              "type": "a",
              "organizations": [
                "GitHub, Inc."
              ],
              "last_seen": "2018-09-11",
              "first_seen": "2018-09-10"
 [...]
