---
http_interactions:
- request:
    method: get
    uri: https://freeapi.robtex.com/pdns/forward/github.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-ndjson
      Content-Language:
      - en-US
      Last-Modified:
      - Tue, 22 Jan 2019 11:21:13 GMT
      X-Rt-Time:
      - 0.006672621 0.006414049
    body:
      encoding: UTF-8
      string: "{\"rrname\":\"github.com\",\"rrdata\":\"ns-421.awsdns-52.com\",\"rrtype\":\"NS\",\"time_first\":1477258664,\"time_last\":1547973582,\"count\":4}\r\n{\"rrname\":\"github.com\",\"rrdata\":\"ns-520.awsdns-01.net\",\"rrtype\":\"NS\",\"time_first\":1477258664,\"time_last\":1547973582,\"count\":4}\r\n{\"rrname\":\"github.com\",\"rrdata\":\"ns-1283.awsdns-32.org\",\"rrtype\":\"NS\",\"time_first\":1477258664,\"time_last\":1547973582,\"count\":4}\r\n{\"rrname\":\"github.com\",\"rrdata\":\"aspmx.l.google.com\",\"rrtype\":\"MX\",\"time_first\":1441287658,\"time_last\":1547973582,\"count\":2}\r\n{\"rrname\":\"github.com\",\"rrdata\":\"ns1.p16.dyn[...]
