---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/never_ever_exists.com/dns/a?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<CENSORED/>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "a/ipv4",
          "records": [],
          "pages": 0,
          "endpoint": "/v1/history/never_ever_exists.com/dns/a"
        }
  recorded_at: Mon, 18 Mar 2019 20:26:38 GMT
recorded_with: VCR 4.0.0
